apiVersion: 1

datasources:
  - name: Postgres
    type: postgres
    url: db:5432
    database: {{ postgres_database }}
    user: {{ postgres_user }}
    secureJsonData:
      password: "{{ postgres_passwd }}"
    jsonData:
      sslmode: "disable" 
      maxOpenConns: 0         
      maxIdleConns: 2         
      connMaxLifetime: 14400  
      postgresVersion: 1300
      timescaledb: false
