version: '3.7'

services:

  grafana:
    container_name: grafana
    image: grafana/grafana:10.2.0
    environment:
      - GF_DATABASE_WAL=true
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_passwd }}
    user: root
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./grafana_data:/var/lib/grafana:rw
      - ./grafana_datasource:/etc/grafana/provisioning/datasources:ro
      - ./grafana_dashboards:/etc/grafana/provisioning/dashboards:ro

  db:
    container_name: db
    image: postgres:13.15
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB={{ postgres_database }}
      - POSTGRES_USER={{ postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_passwd }}
    volumes:
      - ./postgresql:/var/lib/postgresql/data:rw 
